# Dependencies
node_modules/

# Compiled output
dist/
dist-tsc/

# Environment files
.env
.env.local
.env.*.local
!.env.example

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Coverage directory used by tools like istanbul
coverage/
*.lcov

# OS files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Prisma
/prisma/*.db
/prisma/*.db-journal
